@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Meeting Notes</h1>
    <br>
    <p>This project aims to make 1v1 meetings easier to manage.  </p>
    <br>
    <p>
        Keep track of all your meetings effortlessly. For more info visit:
        <a href="https://github.com/ViktorijaSml/MeetingNotes">github.com/ViktorijaSml/MeetingNotes</a>
    </p>
</div>
