@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br>
    
     Hello there! I've made a project for you to try. It's important to know how I keep your information.</h4>

    <h4> 1. What Information Project Collects: </h4>

     You have all the power to write anything you want. I recommend not to write real data, so be creative!</h4>

    <h4> 2. How Do I Use Your Information: </h4>

     I use the info you provided us to make the project look good, but that is all it is. Every data you provide, except for passwords, is completely transparent and visible in the project.</>

    <h4> 3. Keeping Your Information Safe: </h4>

     We suggest you do not write real info about yourself or anyone. This is a begginers project, so there is no security implemented!</h4>

    <h4> 4. Changes to This Policy: </h4>

     If I ever need to change how I do things, I'll let you know.</h4>

    <h4> 5. Contact Me: </h4>

    If you have any questions about how we handle your information or just want to say hi, you can reach me: smlaticviktorija@gmail.com. Looking forward hearing from you!.</h4>
</p>
