@model MeetingNotes.Models.ViewModels.ManagerWorkerPairingModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Manager</h4>
<hr />
<form asp-action="Create">
<div class="row">
    <div class="col-md-4">
       
            <label for="SelectedManagerId">Select Manager:</label>
            <select asp-for="SelectedManagerId" asp-items="@(new SelectList(Model.Managers, "Id", "FullName"))">
                <option value="">-- Select a Manager --</option>
            </select>
    </div>

    <div>
        <label>Workers:</label>
        @foreach (var worker in Model.Workers)
        {
            <div>
                <input type="checkbox" id="worker_@worker.Id" name="SelectedWorkerIds" value="@worker.Id" />
                <label for="worker_@worker.Id">@worker.FullName</label>
            </div>
        }
     </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
       
      </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
